# Core
torch>=2.6.0
torchaudio>=2.6.0
numpy==1.26.4

# Audio
librosa>=0.10.0
soundfile>=0.12.0

# ViterBox dependencies
transformers==5.2.0
safetensors==0.5.3
diffusers==0.29.0
s3tokenizer
omegaconf
conformer

# Text processing
num2words>=0.5.13
underthesea>=6.8.0

# UI
gradio>=4.0.0

# Utils
tqdm>=4.66.0
huggingface_hub>=0.23.0

soe-vinorm
